* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .container {
  width: 40vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
}

main .container .title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid grey;
}

main .container .title h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

main .container .title button {
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.4s;
}

main .container .title button:hover {
  transform: rotateZ(90deg);
}

main .list-add {
  padding: 0.5rem;
}

.list-clear {
  padding: 0.5rem;
  cursor: pointer;
}
